@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../fonts/GeneralSans/style.css";

* {
    font-family: 'General Sans light';
    font-style: normal;
    font-weight: normal;
}

body {
  margin-top: 130px;
}

@media (max-width: 1200px) {
  body {
    margin-top: 170px;
  }
}